service exynosdisplayfeature-hal-1-0 /vendor/bin/hw/vendor.samsung_slsi.hardware.exynosdisplayfeature@1.0-service
    class hal
    user  system
    group system graphics
    onrestart restart exynosdisplayfeature

